Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md

UI/UX improvements
  docs/ARCHITECTURE.md
  docs/guide-user.md
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: docs

Bump codeql actions together since their config is tightly coupled (#362)
  .github/dependabot.yml
Labels: ci

add more info to job/pipeline status relay logs (#361)
  src/hubcast/web/gitlab/routes.py
Labels: none

more user guide and help command improvements
  docs/guide-user.md
  docs/img/approve-comment.png
  docs/img/mirror-comment.png
  src/hubcast/web/comments.py
Labels: docs

fixup
  docs/guide-user.md
Labels: docs

mirror->approve
  docs/ARCHITECTURE.md
  docs/guide-user.md
  docs/img/approve-comment.png
  docs/img/mirror-comment.png
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: docs

small change
  docs/guide-user.md
Labels: docs

UI/UX improvements (#363)
  docs/guide-user.md
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: docs

ci: don't build container if previous jobs failed
  .github/workflows/ci.yml
Labels: ci

line breaks
  .github/workflows/ci.yml
Labels: ci

Revert "line breaks"
  .github/workflows/ci.yml
Labels: ci

ci: don't build container if previous jobs failed (#370)
  .github/workflows/ci.yml
Labels: ci

Provide validation feedback to users
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

require pipeline checks to be always relayed so we can post errors
  docs/guide-user.md
  src/hubcast/repos/config.py
  tests/test_repo_config.py
Labels: docs

validation for repo config issues
  src/hubcast/exceptions.py
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_repo_config.py
Labels: none

tell user that someone can mirror changes on their behalf
  src/hubcast/web/github/messages.py
Labels: none

add tests
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: none

clarify language/docs around [hubcast config]
  docs/guide-user.md
  src/hubcast/web/github/routes.py
Labels: docs

set repo_config_path in source forge client
  src/hubcast/clients/github/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

update logic for https://github.com/llnl/repligit/pull/198
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

don't give feedback about missing repo configs
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/utils.py
Labels: none

Provide validation feedback to users (#243)
  docs/guide-user.md
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/exceptions.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: docs

Add support for re-running individual jobs
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

fmt
  tests/test_github_routes.py
Labels: none

Add support for re-running individual jobs (#371)
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

Trigger PR handler when draft PRs are made ready for review
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

Remove redundant test
  tests/test_github_routes.py
Labels: none

Fix exception on push events with null head_commit
  src/hubcast/web/github/routes.py
Labels: none

Fix exception on push events with null head_commit (#373)
  src/hubcast/web/github/routes.py
Labels: none

Parameterize existing test_head_sha unit test instead
  tests/test_github_routes.py
Labels: none

Trigger PR handler when draft PRs are made ready for review (#372)
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

ci: update ruff and ty
  .github/workflows/requirements/style.txt
  .github/workflows/style.yml
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/utils.py
  src/hubcast/logging.py
  tests/test_repo_config.py
  tests/test_routing_token.py
Labels: ci, dependencies

fix routing token test
  tests/test_routing_token.py
Labels: none

config: create a dest_fullname property avoids recomputation throughout the routes
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

config: create a dest_fullname property (#384)
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

ci: update ruff and ty (#383)
  .github/workflows/requirements/style.txt
  .github/workflows/style.yml
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/utils.py
  src/hubcast/logging.py
  tests/test_repo_config.py
  tests/test_routing_token.py
Labels: ci, dependencies

improve gitlab url subpath handling
  .github/workflows/requirements/unit-tests.txt
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
Labels: ci, dependencies

fix: python-ldap coverage test
  .github/workflows/coverage.yml
  .github/workflows/requirements/unit-tests.txt
Labels: ci, dependencies

fix: python-ldap coverage test (#393)
  .github/workflows/coverage.yml
  .github/workflows/requirements/unit-tests.txt
Labels: ci, dependencies

improve gitlab url subpath handling (#385)
  .github/workflows/requirements/unit-tests.txt
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
Labels: ci, dependencies
