Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

account map tests
  tests/__init__.py
  tests/data/file_map.yml
  tests/data/invalid_yaml.yml
  tests/data/no_users.yml
  tests/test_account_map.py
Labels: none

unit tests for repo config
  tests/test_repo_config.py
Labels: none

unit tests for token cache
  tests/test_token_cache.py
Labels: none

add tests for gh handler and router
  tests/test_github_handler.py
Labels: none

add tests for gitlab routes
  src/hubcast/web/gitlab/routes.py
  tests/test_gitlab_routes.py
Labels: none

add tests for app config. not going to test Config/GitHubConfig/GitLabConfig
  tests/test_app_config.py
Labels: none

update requirements for python-ldap
  .github/workflows/requirements/unit-tests.txt
Labels: ci, dependencies

remove extraneous mocks from github routes test
  tests/test_github_routes.py
Labels: none

add tests for gitlab router and webhook handler
  tests/test_gitlab_handler.py
Labels: none

missed install in apt-get
  .github/workflows/unit-tests.yml
Labels: ci

couple small changes to tests to get them working again
  tests/test_github_routes.py
Labels: none

add tests for ldap account map
  tests/test_account_map.py
Labels: none

fix for optional config settings
  tests/test_app_config.py
Labels: none

update tests for review commenting approval
  tests/test_github_routes.py
Labels: none

attempt to fix python-ldap build issue
  .github/workflows/unit-tests.yml
Labels: ci

fix tests: bot_user --> bot_caller
  tests/test_github_routes.py
Labels: none

update tests for new repo config error handling
  tests/test_repo_config.py
Labels: none

add test for delete_closed being respected
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

update tests to accept new return value from get_repo_config
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: none

default to hubcast spec with unit tests and ldap
  spack.yaml
Labels: none

fix tests/test_github_routes.py::test_sync_pr_skip_draft
  tests/test_github_routes.py
Labels: none

update repo config tests
  tests/test_repo_config.py
Labels: none

fmt
  tests/test_app_config.py
  tests/test_repo_config.py
Labels: none

style
  tests/test_repo_config.py
Labels: none

update app config tests
  tests/test_app_config.py
Labels: none

update tests for pydantic repo config
  tests/test_repo_config.py
Labels: none

update for logging changes
  tests/test_account_map.py
  tests/test_repo_config.py
Labels: none

update tests for https://github.com/llnl/hubcast/pull/288
  tests/test_gitlab_handler.py
Labels: none

misc config changes
  src/hubcast/account_map/__init__.py
  tests/test_app_config.py
  tests/test_repo_config.py
Labels: none

fix routing token handling tests
  tests/test_gitlab_handler.py
Labels: none

update tests for ty check
  .github/workflows/style.yml
  pyproject.toml
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/routes.py
  tests/test_github_routes.py
Labels: ci, dependencies

rebase fixes and pipeline relay changes
  src/hubcast/web/gitlab/routes.py
  tests/test_account_map.py
  tests/test_github_routes.py
  tests/test_gitlab_handler.py
  tests/test_gitlab_routes.py
Labels: none

need unit test workflow to run
  .github/workflows/ci.yml
Labels: ci

more coverage for GH routes
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

modify tests for recent commits
  tests/test_gitlab_handler.py
  tests/test_gitlab_routes.py
  tests/test_routing_token.py
Labels: none

tests for routing token
  tests/test_routing_token.py
Labels: none

fix failure in gitlab handler test
  tests/test_gitlab_handler.py
Labels: none

add coverage for github/gitlab handlers
  tests/test_github_handler.py
  tests/test_gitlab_handler.py
Labels: none

fmt
  tests/test_github_handler.py
  tests/test_gitlab_handler.py
  tests/test_gitlab_routes.py
Labels: none

update tests for create mr and job status forwarding
  tests/test_gitlab_routes.py
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
