Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

Rewrite to Support Multiple Repos, Git via Tokens, and Centralized Config (#37)
  .github/workflows/requirements/unit-tests.txt
  hubcast/__main__.py
  hubcast/account_map/__init__.py
  hubcast/account_map/abc.py
  hubcast/account_map/file.py
  hubcast/auth/github.py
  hubcast/github.py
  hubcast/github/__init__.py
  hubcast/github/auth.py
  hubcast/github/config.py
  hubcast/github/handler.py
  hubcast/github/routes.py
  hubcast/gitlab.py
  hubcast/gitlab/__init__.py
  hubcast/gitlab/auth.py
  hubcast/gitlab/handler.py
  hubcast/gitlab/routes.py
  hubcast/tests/test_github_route.py
  hubcast/utils/git.py
  pyproject.toml
  spack.yaml
Labels: ci, dependencies

black format gitlab router
  hubcast/gitlab/routes.py
Labels: none

Remove unknown reference to mocker
  hubcast/tests/test_github_route.py
Labels: none

Switch git() to accept string command instead of args list
  hubcast/github/handler.py
  hubcast/github/routes.py
  hubcast/tests/test_github_route.py
  hubcast/utils/git.py
Labels: none

Switch git() to accept string command instead of args list (#47)
  hubcast/github/handler.py
  hubcast/github/routes.py
  hubcast/tests/test_github_route.py
  hubcast/utils/git.py
Labels: none

json logging
  hubcast/__main__.py
  hubcast/logging/config.json
  hubcast/logging/json_logging.py
Labels: none

add f string
  hubcast/gitlab/handler.py
Labels: none

first pass at adding logging
  hubcast/__main__.py
  hubcast/account_map/file.py
  hubcast/github/handler.py
  hubcast/gitlab/handler.py
  hubcast/logging/config.json
Labels: none

Add documentation on basic account map
  docs/getting-started.md
  hubcast/__main__.py
Labels: docs

Add documentation on basic account map (#65)
  docs/getting-started.md
  hubcast/__main__.py
Labels: docs

logging
  hubcast/__main__.py
  hubcast/json_logging.py
Labels: none

ran black and flake8
  hubcast/__main__.py
  hubcast/json_logging.py
Labels: none

move json_logging to logging folder
  hubcast/__main__.py
  hubcast/logging/__init__.py
  hubcast/logging/json_logging.py
Labels: none

add HC_LOGGING_CONFIG_PATH
  hubcast/__main__.py
Labels: none

remove pathlib
  hubcast/__main__.py
Labels: none

repo_create(): fix typo in git command f-strings
  hubcast/github/handler.py
Labels: none

repo_create(): fix typo in git command f-strings (#104)
  hubcast/github/handler.py
Labels: none

ci: update dependabot config to only check monthly
  .github/dependabot.yml
Labels: ci

ci: update dependabot config to only check monthly (#105)
  .github/dependabot.yml
Labels: ci

Initial commit of rewrite for repligit and better structure
  .flake8
  .gitignore
  hubcast/__init__.py
  hubcast/__main__.py
  hubcast/github/config.py
  hubcast/github/handler.py
  hubcast/github/routes.py
  hubcast/gitlab/handler.py
  hubcast/tests/__init__.py
  hubcast/tests/test_github_route.py
  hubcast/utils/__init__.py
  hubcast/utils/git.py
  pyproject.toml
  spack.yaml
  spack/repo/packages/py-hubcast/package.py
  spack/repo/repo.yaml
  src/hubcast/__init__.py
  src/hubcast/__main__.py
  src/hubcast/account_map/__init__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/github/__init__.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/__init__.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/__init__.py
  src/hubcast/web/github/__init__.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/__init__.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: dependencies

Clean up github client implementation for status checks
  src/hubcast/clients/github/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Add partial repo config support
  src/hubcast/repos/__init__.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/utils.py
Labels: none

Refactor status reporting out to client
  .gitignore
  spack.yaml
  src/hubcast/clients/github/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: dependencies

Refactor event handlers for internal prs and branches
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

Add gitlab client webhook create
  src/hubcast/__main__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
Labels: none

Fix style check for new paths
  .github/workflows/style.yml
Labels: ci

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/worklflows/requirements/**
    - pyproject.toml
    - spack.yaml

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md

tests:
- changes-files:
  - any-glob-to-any-file:
    - hubcast/tests/**
    - .github/workflows/unit-tests.yml
