Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

add link to docs for PR sync approval
  src/hubcast/web/github/routes.py
Labels: none

Add additional logging via HubcastError
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/utils.py
Labels: none

clarify that comments on LOC can't be used to approve
  docs/guide-user.md
Labels: docs

review -> review comment
  src/hubcast/web/github/routes.py
Labels: none

update note
  docs/guide-user.md
Labels: docs

Add link to docs for approving PR sync (#290)
  docs/guide-user.md
  src/hubcast/web/github/routes.py
Labels: docs

Validate webhooks via JWTs (#288)
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/utils.py
Labels: dependencies

Include the ldap dependencies in the container
  Dockerfile
Labels: none

Fix changes ci to trigger container rebuild
  .github/workflows/ci.yml
Labels: ci

Include the ldap dependencies in the container (#291)
  .github/workflows/ci.yml
  Dockerfile
Labels: ci

Use pydantic for app config
  pyproject.toml
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/config.py
Labels: dependencies

Fix bug and cast ldap account map scope to int
  src/hubcast/config.py
Labels: none

Fix bug and cast ldap account map scope to int (#296)
  src/hubcast/config.py
Labels: none

Fix urljoin for GitLab instances under a subpath
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
Labels: none

Fix urljoin for GitLab instances under a subpath (#297)
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
Labels: none

Swap to a 9min token timeout internally to handle system clock skew
  src/hubcast/clients/github/auth.py
Labels: none

Swap to a 9min token timeout internally to handle system clock skew (#299)
  src/hubcast/clients/github/auth.py
Labels: none

Add logging for authorized user
  src/hubcast/account_map/ldap.py
  src/hubcast/web/github/handler.py
Labels: none

drop else block
  src/hubcast/web/github/handler.py
Labels: none

address review comments
  src/hubcast/web/github/handler.py
Labels: none

add github event type and delivery id in context in the logger
  logging_config.json
  src/hubcast/logging.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
Labels: none

make log_context more generic and add user names and repo info
  src/hubcast/logging.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
Labels: none

remove redundant log info context
  src/hubcast/web/github/handler.py
Labels: none

simplify initial context setting
  src/hubcast/web/github/handler.py
Labels: none

Add logging for authorized user (#300)
  logging_config.json
  src/hubcast/account_map/ldap.py
  src/hubcast/logging.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
Labels: none

Update routing token generation to accept arbitrary config values
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routing_token.py
Labels: none

Improve comment around token creation
  src/hubcast/clients/gitlab/client.py
Labels: none

Fix style
  src/hubcast/web/gitlab/handler.py
Labels: none

Improve comments
  src/hubcast/clients/gitlab/client.py
Labels: none

update spack pkg
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
Labels: dependencies

update config docs and clarify error messages to include env variables rather than attribute names
  docs/guide-admin.md
  src/hubcast/__main__.py
  src/hubcast/config.py
Labels: docs

avoid double underscore
  docs/guide-admin.md
  src/hubcast/config.py
Labels: docs

Use pydantic for app config (#292)
  docs/guide-admin.md
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/config.py
Labels: dependencies, docs

Switch to using Pydantic to handle the repository configuration
  src/hubcast/repos/config.py
  src/hubcast/web/github/utils.py
Labels: none

Add type checking
  .github/workflows/requirements/style.txt
  .github/workflows/style.yml
  pyproject.toml
  spack.yaml
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/logging.py
Labels: ci, dependencies

add dev dependencies for python-ldap
  .github/workflows/style.yml
Labels: ci

Add type checking (#302)
  .github/workflows/requirements/style.txt
  .github/workflows/style.yml
  pyproject.toml
  spack.yaml
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/logging.py
Labels: ci, dependencies

Switch to using Pydantic to handle the repository configuration (#303)
  src/hubcast/repos/config.py
  src/hubcast/web/github/utils.py
Labels: none

Refactor routing tokens into webhook module with pydantic
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/utils.py
  src/hubcast/webhooks/__init__.py
  src/hubcast/webhooks/webhook.py
Labels: none

Recreate a GitLab webhook when the routing token changes
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/webhooks/webhook.py
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
