Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

Option for creating merge requests upon PR sync (#298)
  docs/guide-user.md
  src/hubcast/__main__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: docs

Small updates to use pathlib for file accountmaps
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
Labels: none

test PR
  .github/workflows/style.yml
  src/hubcast/account_map/file.py
Labels: ci

Update FileMapError to be a HubcastError
  src/hubcast/account_map/file.py
Labels: none

Log FileMapError as HubcastError in main for formatting consistency
  src/hubcast/__main__.py
Labels: none

Add an initial helm chart for Hubcast deployments (#314)
  .github/workflows/ci.yml
  .github/workflows/helm-style.yml
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/ingress.yaml
  helm/templates/route.yaml
  helm/templates/secret.yaml
  helm/templates/service.yaml
  helm/values-openshift-ldap.yaml
  helm/values-openshift.yaml
  helm/values.yaml
Labels: ci

Small updates to accountmaps style (#322)
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
Labels: none

Improve ISO time formatting for GitHub Authentication
  src/hubcast/clients/github/auth.py
Labels: none

Simplify GitLabRouter by calling super().dispatch
  src/hubcast/web/gitlab/routes.py
Labels: none

Add comment for optional ldap and ignore unused lint error
  src/hubcast/account_map/__init__.py
Labels: none

Simplify GitLabRouter by calling super().dispatch (#325)
  src/hubcast/web/gitlab/routes.py
Labels: none

Bump our minimum allowed Python version to 3.11
  .github/workflows/security.yml
  .github/workflows/style.yml
  .github/workflows/unit-tests.yml
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
Labels: ci, dependencies

Improve ISO time parsing for GitHub Authentication (#324)
  .github/workflows/security.yml
  .github/workflows/style.yml
  .github/workflows/unit-tests.yml
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/clients/github/auth.py
Labels: ci, dependencies

Add comment for optional ldap and ignore unused lint error (#326)
  src/hubcast/account_map/__init__.py
Labels: none

Exit early if status is unknown to reduce API calls
  src/hubcast/web/gitlab/routes.py
Labels: none

Reduce the number of "queued" statuses relayed
  src/hubcast/web/gitlab/routes.py
Labels: none

Exit early if status is unknown to reduce API calls (#332)
  src/hubcast/web/gitlab/routes.py
Labels: none

Reduce the number of "queued" statuses relayed (#333)
  src/hubcast/web/gitlab/routes.py
Labels: none

Remove logic for determining non-pr-branch, branch, and mr suffixes
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: none

Bring back get_pipeline to correctly get /merge suffix
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Drop extra name = checkname when not needed
  src/hubcast/web/gitlab/routes.py
Labels: none

Remove logic for determining non-pr-branch, branch, and mr suffixes (#334)
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: none

Remove extra create_mr docs
  docs/guide-user.md
Labels: docs

Remove extra create_mr docs (#335)
  docs/guide-user.md
Labels: docs

[fix] Handle reviews without comments silently
  src/hubcast/web/github/routes.py
Labels: none

Add initial support for relaying child pipelines
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: none

Handle reviews without comments silently (#339)
  src/hubcast/web/github/routes.py
Labels: none

Add initial support for relaying child pipelines (#340)
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: none

Add documentation for child-pipelines statuses
  docs/guide-user.md
Labels: docs

Be explicit about how the statuses can be mixed
  docs/guide-user.md
Labels: docs

Add documentation for child-pipelines statuses (#341)
  docs/guide-user.md
Labels: docs

User guide clarity and alias sync to approval
  docs/guide-user.md
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: docs

Cache absence of repo config
  src/hubcast/clients/github/client.py
  src/hubcast/exceptions.py
  src/hubcast/web/github/utils.py
Labels: none

allow optional config in types
  src/hubcast/web/github/utils.py
Labels: none

Update pinned aiohttp version
  .github/workflows/requirements/unit-tests.txt
Labels: ci, dependencies

grammar
  docs/guide-user.md
Labels: docs

Cache absence of repo config (#346)
  src/hubcast/clients/github/client.py
  src/hubcast/exceptions.py
  src/hubcast/web/github/utils.py
Labels: none

scaffolding
  .gitignore
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
Labels: dependencies

enable CI action
  .github/workflows/ci.yml
Labels: ci

tests for github route handlers
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
