Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

Break account_map initialization into it's own method
  src/hubcast/__main__.py
Labels: none

update type hints (#273)
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/clients/utils.py
  src/hubcast/config.py
  src/hubcast/logging.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Break account_map initialization into it's own method (#275)
  src/hubcast/__main__.py
Labels: none

Fix conditional in main for null logging_config_path
  src/hubcast/__main__.py
Labels: none

Factor out logging setup from __main__() and optional conf path
  src/hubcast/__main__.py
  src/hubcast/config.py
Labels: none

Remove unused import
  src/hubcast/__main__.py
Labels: none

Factor out logging setup from __main__() and optional conf path (#276)
  src/hubcast/__main__.py
  src/hubcast/config.py
Labels: none

A set of very opinionated silly nitpick style changes
  src/hubcast/web/github/routes.py
Labels: none

A set of very opinionated silly nitpick style changes (#277)
  src/hubcast/web/github/routes.py
Labels: none

Add /health endpoint for Kubernetes deployments
  src/hubcast/__main__.py
  src/hubcast/web/health.py
Labels: none

Ignore GitHub app installation in route handler
  src/hubcast/web/github/handler.py
Labels: none

Parse the check name from the repository config
  src/hubcast/web/github/utils.py
Labels: none

config: draft_sync -> sync_drafts
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

config: draft_sync -> sync_drafts (#282)
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

Add /health endpoint for Kubernetes deployments (#278)
  src/hubcast/__main__.py
  src/hubcast/web/health.py
Labels: none

Ignore GitHub app installation in route handler (#279)
  src/hubcast/web/github/handler.py
Labels: none

actually get the config option
  src/hubcast/web/github/utils.py
Labels: none

fix: respect delete_closed config option
  src/hubcast/web/github/routes.py
Labels: none

fix: respect delete_closed config option (#280)
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

Parse the check name from the repository config (#281)
  src/hubcast/web/github/utils.py
Labels: none

Swap repo config to be a dataclass
  src/hubcast/repos/config.py
  src/hubcast/web/github/utils.py
Labels: none

Update docstring to be generic for source repos
  src/hubcast/repos/config.py
Labels: none

Improve comments and documentation
  src/hubcast/repos/config.py
Labels: none

Fix typo
  src/hubcast/repos/config.py
Labels: none

Swap from log.error to log.exception
  src/hubcast/web/github/utils.py
Labels: none

Quick style fix from suggestions
  src/hubcast/web/github/utils.py
Labels: none

Remove duplicate logging from get_repo_config
  src/hubcast/web/github/utils.py
Labels: none

Fix style formatting
  src/hubcast/web/github/utils.py
Labels: none

Swap repo config to be a dataclass (#283)
  src/hubcast/repos/config.py
  src/hubcast/web/github/utils.py
Labels: none

Add structured exception handling
  src/hubcast/account_map/ldap.py
  src/hubcast/clients/github/client.py
  src/hubcast/exceptions.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

log_level for repo config issues should be INFO
  src/hubcast/web/github/utils.py
Labels: none

user guide: clarify supported bot actions
  docs/guide-user.md
Labels: docs

switch draft_sync options
  docs/guide-user.md
Labels: docs

repo config clarifications
  docs/guide-user.md
Labels: docs

slight changes in line with https://github.com/llnl/hubcast/pull/283
  docs/guide-user.md
Labels: docs

another draft sync fix
  docs/guide-user.md
Labels: docs

update owner/name in repo config
  docs/guide-user.md
Labels: docs

Add structured exception handling (#289)
  src/hubcast/account_map/ldap.py
  src/hubcast/clients/github/client.py
  src/hubcast/exceptions.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Validate webhooks via JWTs
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/utils.py
Labels: dependencies

User, admin, developer documentation (#214)
  README.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/getting-started.md
  docs/guide-admin.md
  docs/guide-developer.md
  docs/guide-user.md
  docs/img/approve-comment.png
  docs/readme.md
  docs/spack-develop.md
Labels: docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
