Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

Fix hubcast-error when no config change due to cache timeout
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: none

Add testing dependencies to Spack Environment
  spack.yaml
Labels: none

Respond to cmds from pull request review comments outside of approve
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

Add testing dependencies to Spack Environment (#403)
  spack.yaml
Labels: none

Fix hubcast-error when no config change due to cache timeout (#402)
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: none

Revert creating helper method in favor of later refactor
  src/hubcast/web/github/routes.py
Labels: none

Respond to cmds from pull request review comments outside of approve (#404)
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

Minimize impact of account lookup on critical event loop
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
  src/hubcast/web/github/handler.py
  tests/test_account_map.py
  tests/test_github_handler.py
Labels: none

Mirror tags and branches with already mirrored refs
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

Add comments for fixes
  src/hubcast/web/github/routes.py
Labels: none

Convert AccountMap calls to asyncio methods (#409)
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
  src/hubcast/web/github/handler.py
  tests/test_account_map.py
  tests/test_github_handler.py
Labels: none

Mirror tags and branches with already mirrored refs (#411)
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

consolidate shared logic in GitHub routes
  src/hubcast/web/github/routes.py
Labels: none

address review
  src/hubcast/web/github/routes.py
Labels: none

fix ruff
  src/hubcast/web/github/routes.py
Labels: none

Consolidate sync actions in route handlers (#240)
  src/hubcast/web/github/routes.py
Labels: none

validate repo config when when changes are proposed
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: none

fix ty
  src/hubcast/web/github/utils.py
Labels: none

fix ty
  src/hubcast/web/github/utils.py
Labels: none

don't use asserts, raise
  src/hubcast/web/github/utils.py
Labels: none

validate repo config when when changes are proposed (#412)
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: none

fix: don't react positively to approve comment if sync is skipped
  src/hubcast/web/github/routes.py
Labels: none

approve command will mirror even with sync_drafts disabled
  docs/guide-user.md
  src/hubcast/web/github/routes.py
Labels: docs

Remove repository config caching logic
  .github/workflows/requirements/unit-tests.txt
  pyproject.toml
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: ci, dependencies

Remove unused variable
  src/hubcast/web/github/routes.py
Labels: none

Correctly depend on aiohttp functionality in gidgetlab
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
Labels: dependencies

Simplify comments
  src/hubcast/web/github/utils.py
Labels: none

approve command will mirror even with sync_drafts disabled (#418)
  docs/guide-user.md
  src/hubcast/web/github/routes.py
Labels: docs

Remove whitespace in testing file
  tests/test_repo_config.py
Labels: none

Remove repository config caching logic (#410)
  .github/workflows/requirements/unit-tests.txt
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  tests/test_github_routes.py
  tests/test_repo_config.py
Labels: ci, dependencies

gitlab->gitlab mirroring
  docs/ARCHITECTURE.md
  docs/guide-admin.md
  docs/guide-user.md
  docs/img/gh-approve-comment.png
  docs/img/gl-approve-comment.png
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/__init__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/__init__.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/messages.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/web/gitlab/src_routes.py
  src/hubcast/web/messages.py
  src/hubcast/web/utils.py
  src/hubcast/webhook/__init__.py
  src/hubcast/webhook/token.py
Labels: docs

handle 404s on destination repos
  src/hubcast/web/github/messages.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
