Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md

explicitly define permissions within job
  .github/workflows/security.yml
Labels: ci

Static Security CI Check (#167)
  .github/workflows/ci.yml
  .github/workflows/requirements/security.txt
  .github/workflows/security.yml
  src/hubcast/clients/github/auth.py
Labels: ci, dependencies

ci: fix bandit permissions, simplify matrix, pyproject.toml, add to spack env
  .github/workflows/ci.yml
  .github/workflows/security.yml
  pyproject.toml
  spack.yaml
Labels: ci, dependencies

ci: add toml optional to bandit install
  .github/workflows/requirements/security.txt
Labels: ci, dependencies

Add logging configuration and more error handling
  logging_config.json
  src/hubcast/__main__.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/logging.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

handle incorrectly formatted logging config
  src/hubcast/__main__.py
Labels: none

address copilot comments
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/gitlab/client.py
Labels: none

log error message rather than exception for ConfigError in entrypoint
  src/hubcast/__main__.py
Labels: none

remove extraneous exception handler in github auth
  src/hubcast/clients/github/auth.py
Labels: none

remove extraneous handlers and log events in response to PR feedback
  src/hubcast/__main__.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

add-back generic github handler exception
  src/hubcast/web/github/handler.py
  src/hubcast/web/gitlab/handler.py
Labels: none

rm logging import from github/auth.py
  src/hubcast/clients/github/auth.py
Labels: none

ci: fix bandit permissions, simplify matrix, pyproject.toml (#169)
  .github/workflows/ci.yml
  .github/workflows/requirements/security.txt
  .github/workflows/security.yml
  pyproject.toml
  spack.yaml
Labels: ci, dependencies

Add logging configuration and more error handling (#144)
  logging_config.json
  src/hubcast/__main__.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/config.py
  src/hubcast/logging.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

make bot caller configurable with HC_GH_BOT_USER
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/config.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

GitHub bot functionality
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

add support for re-running jobs through native GH check UI
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/routes.py
Labels: none

add clickable link on check run summary
  src/hubcast/clients/github/client.py
Labels: none

style
  src/hubcast/web/github/routes.py
Labels: none

when user requests pipeline run, sync the PR in case it fell out of sync
  src/hubcast/web/github/routes.py
Labels: none

add docstrings to gitlab:run_pipeline and github:react_to_comment
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
Labels: none

clients shouldn't log
  src/hubcast/clients/gitlab/client.py
Labels: none

support rerun/restart pipeline language
  src/hubcast/web/github/routes.py
Labels: none

add option to restart failed pipeline jobs
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

move valid github emoji reactions to global variable
  src/hubcast/clients/github/client.py
Labels: none

GitHub bot functionality (#137)
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

Support Gitlab instances for source repositories
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/gitlab/__init__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/__init__.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/web/utils.py
Labels: none

small ordering change
  src/hubcast/clients/gitlab/client.py
Labels: none

Update README.md for GitLab -> GitLab
  README.md
Labels: docs

define repo config filepath based on source forge
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
Labels: none

Standardize on 'forge' language
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

fix syncing typo
  README.md
Labels: docs

GitLab OAuth Account Map: add initial implementation
  src/hubcast/__main__.py
  src/hubcast/account_map/gitlab_oauth.py
  src/hubcast/config.py
  src/hubcast/web/github/handler.py
Labels: none

LDAP account map
  src/hubcast/__main__.py
  src/hubcast/account_map/__init__.py
  src/hubcast/account_map/ldap.py
  src/hubcast/config.py
Labels: none

rm extra logging config
  src/hubcast/account_map/ldap.py
Labels: none

add dependency on python-ldap
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
Labels: dependencies

add conditional config options for ldap account map
  src/hubcast/config.py
Labels: none

Hubcast container
  .github/workflows/ci.yml
  .github/workflows/container.yml
  Dockerfile
Labels: ci

add a missing dep and fix module import
  pyproject.toml
  src/hubcast/web/github/utils.py
Labels: dependencies

fix yml
  .github/workflows/ci.yml
Labels: ci
