Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md

Swap from self.user -> self.requester for the client user-agent
  src/hubcast/clients/gitlab/client.py
Labels: none

Set a global requester for the Hubcast application (#239)
  src/hubcast/__main__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
Labels: none

make comment bot account optional (#213)
  src/hubcast/config.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

document support for retrying failed jobs
  docs/guide-user.md
Labels: docs

make python-ldap an optional dependency
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/__main__.py
  src/hubcast/account_map/__init__.py
Labels: dependencies

Repo config fetched from base only
  src/hubcast/web/github/routes.py
Labels: none

Simplify config API
  src/hubcast/config.py
Labels: none

Repo config fetched from base only (#245)
  src/hubcast/web/github/routes.py
Labels: none

Handle all GitLab pipeline events
  src/hubcast/web/gitlab/routes.py
Labels: none

Fix races in comment-driven syncs
  src/hubcast/web/github/routes.py
Labels: none

ensure that all calls to sync_pr supply a want_sha commit to sync
  src/hubcast/web/github/routes.py
Labels: none

add note about permissions needed to perform sync on destination forge
  docs/guide-user.md
Labels: docs

make ldap variant default to false
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
Labels: dependencies

suggest installing with spack as well
  src/hubcast/__main__.py
Labels: none

restore __all__ in account maps module
  src/hubcast/account_map/__init__.py
Labels: none

Fix races in comment-driven syncs (#237)
  src/hubcast/web/github/routes.py
Labels: none

make python-ldap an optional dependency (#244)
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/__main__.py
  src/hubcast/account_map/__init__.py
Labels: dependencies

rm handling of waiting_for_resource, preparing, and scheduled
  src/hubcast/web/gitlab/routes.py
Labels: none

add an optional arg to env_get to allow for env variables that default to None
  src/hubcast/config.py
Labels: none

Support reacting to reviews
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/routes.py
Labels: none

simplify docstring
  src/hubcast/clients/github/client.py
Labels: none

Simplify config API (#246)
  src/hubcast/config.py
Labels: none

Handle more GitLab pipeline events (#247)
  src/hubcast/web/gitlab/routes.py
Labels: none

clarify docstring
  src/hubcast/clients/github/client.py
Labels: none

Support reacting to reviews (#248)
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/routes.py
Labels: none

Add no-op message to regular sync approval comment
  src/hubcast/web/github/routes.py
Labels: none

Add no-op message to regular sync approval comment (#249)
  src/hubcast/web/github/routes.py
Labels: none

Unify bot caller logic
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
Labels: none

Change dependabot scan interval to weekly
  .github/dependabot.yml
Labels: ci

Change dependabot scan interval to weekly (#251)
  .github/dependabot.yml
Labels: ci

simplify default caller logic
  src/hubcast/config.py
Labels: none

Unify bot caller logic (#250)
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
Labels: none

Reorder repo config parsing logic (#217)
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/utils.py
Labels: none

Silently fail webhook setting
  src/hubcast/clients/gitlab/client.py
Labels: none

set_webhook log: warn->info
  src/hubcast/clients/gitlab/client.py
Labels: none

add webhook setup clarification
  docs/guide-user.md
Labels: docs

style
  src/hubcast/clients/github/client.py
Labels: none

Optimize config refresh and webhook updates for default branch only (#264)
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

update type hints
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/ldap.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/clients/utils.py
  src/hubcast/config.py
  src/hubcast/logging.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Make logging config file optional to fallback to default
  src/hubcast/config.py
Labels: none
