Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md

fmt
  tests/test_gitlab_routes.py
Labels: none

address review comments
  .github/workflows/ci.yml
  pyproject.toml
  spack.yaml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: ci, dependencies

capture log statements instead of return dicts
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

fmt
  tests/test_github_routes.py
Labels: none

tests for relaying jobs/ pipelines
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
  tests/test_gitlab_routes.py
Labels: none

capture logging events rather than event status
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/routes.py
  tests/conftest.py
  tests/test_github_routes.py
  tests/test_gitlab_routes.py
Labels: none

Update pinned aiohttp version (#347)
  .github/workflows/requirements/unit-tests.txt
Labels: ci, dependencies

Add config option to relay neutral status on jobs allowed to fail
  docs/guide-user.md
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: docs

remove optionality
  docs/guide-user.md
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: docs

rm alias
  docs/guide-user.md
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: docs

Allow dependabot to scan /pyproject.toml
  .github/dependabot.yml
Labels: ci

Relay neutral status on jobs allowed to fail (#345)
  src/hubcast/clients/github/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Unit tests (#216)
  .github/workflows/ci.yml
  .github/workflows/requirements/unit-tests.txt
  .github/workflows/style.yml
  .github/workflows/unit-tests.yml
  .gitignore
  pyproject.toml
  spack.yaml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/account_map/__init__.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/routes.py
  tests/__init__.py
  tests/conftest.py
  tests/data/file_map.yml
  tests/data/invalid_yaml.yml
  tests/data/no_users.yml
  tests/test_account_map.py
  tests/test_app_config.py
  tests/test_github_handler.py
  tests/test_github_routes.py
  tests/test_gitlab_handler.py
  tests/test_gitlab_routes.py
  tests/test_repo_config.py
  tests/test_routing_token.py
  tests/test_token_cache.py
Labels: ci, dependencies

Allow dependabot to scan /pyproject.toml (#348)
  .github/dependabot.yml
Labels: ci

Add coverage check
  .github/coverage.yml
  .github/workflows/ci.yml
Labels: ci

rename
  .github/workflows/coverage.yml
Labels: ci

Add coverage check (#349)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: ci

additional clarifications
  docs/guide-user.md
Labels: docs

space
  docs/guide-user.md
Labels: docs

more clarity
  docs/guide-user.md
Labels: docs

clarify force push issue and add user guide link to comments
  docs/guide-user.md
  src/hubcast/web/comments.py
Labels: docs

improve force push graf
  docs/guide-user.md
Labels: docs

move example repo content to developer guide to avoid confusion
  docs/guide-developer.md
  docs/guide-user.md
Labels: docs

rm space
  docs/guide-developer.md
Labels: docs

github
  docs/guide-user.md
Labels: docs

User guide clarity (#344)
  docs/guide-developer.md
  docs/guide-user.md
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: docs

Tests for repo config not found and allowed to fail jobs
  tests/test_gitlab_routes.py
  tests/test_repo_config.py
Labels: none

Tests for repo config not found and allowed to fail jobs (#353)
  tests/test_gitlab_routes.py
  tests/test_repo_config.py
Labels: none

Add more context to route logs
  src/hubcast/web/github/routes.py
Labels: none

use update_log_context
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
Labels: none

fix tests: give caplog log_context
  tests/conftest.py
Labels: none

use more update_log_context
  src/hubcast/web/github/routes.py
  tests/test_github_routes.py
Labels: none

newline
  src/hubcast/web/github/routes.py
Labels: none

better comments
  src/hubcast/web/github/handler.py
Labels: none

Add more context to route logs (#354)
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  tests/conftest.py
  tests/test_github_routes.py
Labels: none

add more info to job/pipeline status relay logs
  src/hubcast/web/gitlab/routes.py
Labels: none

use update_log_context
  src/hubcast/web/gitlab/routes.py
Labels: none

missed job_name
  src/hubcast/web/gitlab/routes.py
Labels: none

reduce lines
  src/hubcast/web/gitlab/routes.py
Labels: none

Bump codeql actions together since their config is tightly coupled
  .github/dependabot.yml
Labels: ci
