Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

update container CI job deps
  .github/workflows/container.yml
Labels: ci

add permissions to container CI job
  .github/workflows/container.yml
Labels: ci

update write perms for container build job
  .github/workflows/container.yml
Labels: ci

Allow downscoping to user identities on destination Gitlab forges
  src/hubcast/__main__.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/clients/utils.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
Labels: none

address copilot review comments
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/utils.py
Labels: none

Support private source and destination repos
  src/hubcast/web/github/routes.py
Labels: none

- skip syncing private forks - find the privateness of a repo from the PR head repo not from the base repo
  src/hubcast/web/github/routes.py
Labels: none

Support Gitlab instances for source repositories
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/gitlab/__init__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/__init__.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/web/utils.py
Labels: none

Standardize on 'forge' language
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Update README.md for GitLab -> GitLab
  README.md
Labels: docs

define repo config filepath based on source forge
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
Labels: none

small ordering change
  src/hubcast/clients/gitlab/client.py
Labels: none

fix syncing typo
  README.md
Labels: docs

fix stray traceback
  src/hubcast/web/gitlab/handler.py
Labels: none

add authentication to destination repo ls_remote to account for potential privateness
  src/hubcast/web/gitlab/routes.py
Labels: none

add support for private source repositories
  src/hubcast/web/gitlab/routes.py
Labels: none

Add option to control sync of draft PRs
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

images will only pushed from main so we only need one tag
  .github/workflows/container.yml
Labels: ci

alphabetical order
  pyproject.toml
Labels: dependencies

Add GitlabSingleUserAuthenticator for devs/users who don't have access to GL instance and want to test hubcast
  src/hubcast/__main__.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
Labels: none

be clear about the type of token in the single user authenticator
  src/hubcast/clients/gitlab/auth.py
Labels: none

Enforce unique have_shas during sync
  src/hubcast/web/github/routes.py
Labels: none

Enforce unique have_shas during sync (#199)
  src/hubcast/web/github/routes.py
Labels: none

add permissions block for workflow
  .github/workflows/ci.yml
Labels: ci

fix indent
  .github/workflows/ci.yml
Labels: ci

container tag can't have uppercase chars, so we can't use repo name variable as it contains LLNL
  .github/workflows/container.yml
Labels: ci

Hubcast container image (#187)
  .github/workflows/ci.yml
  .github/workflows/container.yml
  Dockerfile
  pyproject.toml
  src/hubcast/web/github/utils.py
Labels: ci, dependencies

docstring clarify
  src/hubcast/clients/gitlab/auth.py
Labels: none

docstring clarify
  src/hubcast/clients/utils.py
Labels: none

ignore bandit token alerts
  src/hubcast/clients/gitlab/client.py
Labels: none

Allow downscoping to user identities on destination Gitlab forges (#188)
  src/hubcast/__main__.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/gitlab/auth.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/clients/utils.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
Labels: none

Support private source and destination repos
  src/hubcast/web/github/routes.py
Labels: none

- skip syncing private forks - find the privateness of a repo from the PR head repo not from the base repo
  src/hubcast/web/github/routes.py
Labels: none

Always authenticate with Github if the branch/PR comes from the target repository. If the PR comes from a public fork, don't authenticate (the GH app won't have access).
  src/hubcast/web/github/routes.py
Labels: none

Add option (`draft_sync_msg`, default=True) to set a status check of "skipped" for draft PRs where sync was skipped. Rewrote a bit of `set_check_status` to allow setting a title-only status check.
  src/hubcast/clients/github/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

Support Gitlab instances for source repositories
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/gitlab/__init__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/__init__.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/web/utils.py
Labels: none

fix syncing typo
  README.md
Labels: docs

small ordering change
  src/hubcast/clients/gitlab/client.py
Labels: none

Update README.md for GitLab -> GitLab
  README.md
Labels: docs

Standardize on 'forge' language
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
