Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

Revert class name to RoutingToken
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/webhook/__init__.py
  src/hubcast/webhook/token.py
  src/hubcast/webhooks/__init__.py
Labels: none

Remove check to see if we should update the hook
  src/hubcast/clients/gitlab/client.py
Labels: none

Refactor routing tokens into webhooks module with pydantic (#312)
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/utils.py
  src/hubcast/webhook/__init__.py
  src/hubcast/webhook/token.py
Labels: none

Enable job level status reporting via repo config setting
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
Labels: none

Add job status route handler
  src/hubcast/web/gitlab/routes.py
Labels: none

Add an initial helm chart for Hubcast deployments
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/ingress.yaml
  helm/templates/route.yaml
  helm/templates/secret.yaml
  helm/templates/service.yaml
  helm/values-openshift-ldap.yaml
  helm/values-openshift.yaml
  helm/values.yaml
Labels: none

Add helm-style GitHub Actions job
  .github/workflows/ci.yml
  .github/workflows/helm-style.yml
Labels: ci

Rename status_type to check_type for consistency
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
Labels: none

Simplify router register annotation, fix bug in status url
  src/hubcast/web/gitlab/routes.py
Labels: none

Don't attempt to relay statuses we don't know about
  src/hubcast/web/gitlab/routes.py
Labels: none

Allow both pipeline and job statuses with check_types as list
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
Labels: none

Update documentation around repository config options
  docs/guide-user.md
Labels: docs

Fix docs for yaml list
  docs/guide-user.md
Labels: docs

Fix typing issue for check_types
  src/hubcast/clients/gitlab/client.py
Labels: none

Allow GitLab CI status type to be configurable (#313)
  docs/guide-user.md
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: docs

Propagate "job" label to check run details
  src/hubcast/clients/github/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Update helm/values.yaml
  helm/values.yaml
Labels: none

Generalize set_check_status method to accept title, summary, and details_url arguments and move string manipulation to callers
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/routes.py
Labels: none

set default check name for system-level messages
  src/hubcast/web/github/routes.py
Labels: none

Propagate "job" label to check run details (#320)
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Fix typo in all job dependencies
  .github/workflows/ci.yml
Labels: ci

Option for creating merge requests upon PR sync
  src/hubcast/__main__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/webhook/token.py
Labels: none

misc fixes
  src/hubcast/web/github/routes.py
Labels: none

rename target terminology
  src/hubcast/web/github/routes.py
Labels: none

reference the argument not the method
  src/hubcast/clients/gitlab/client.py
Labels: none

filter against opened mrs when deciding whether to open a new one
  src/hubcast/clients/gitlab/client.py
Labels: none

create mrs regardless of sync status
  src/hubcast/web/github/routes.py
Labels: none

clarity
  src/hubcast/web/gitlab/routes.py
Labels: none

resolve race condition in source head lookup
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

record pr title rather than id
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

keep logging closer to conditional in sync_mr
  src/hubcast/web/github/routes.py
Labels: none

doc
  docs/guide-user.md
Labels: docs

reorder mr_src_branch logic
  src/hubcast/web/github/routes.py
Labels: none

make extra API call to distinguish between regular MR and merged results pipelines, checking length of parents doesn't cut it:
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

fmt
  src/hubcast/clients/gitlab/client.py
Labels: none

clarify pipeline type language
  docs/guide-user.md
  src/hubcast/web/gitlab/routes.py
Labels: docs

fmt
  src/hubcast/web/gitlab/routes.py
Labels: none

Small logging fixes
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

we don't need check name
  src/hubcast/web/gitlab/handler.py
Labels: none

Small logging fixes (#321)
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
