Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md

fix stray traceback
  src/hubcast/web/gitlab/handler.py
Labels: none

define repo config filepath based on source forge
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/github/routes.py
Labels: none

add authentication to destination repo ls_remote to account for potential privateness
  src/hubcast/web/gitlab/routes.py
Labels: none

add support for private source repositories
  src/hubcast/web/gitlab/routes.py
Labels: none

enforce unique have_shas during sync (see #199)
  src/hubcast/web/gitlab/routes.py
Labels: none

update gitlab->gitlab sync for compatibility with gl dest impersonation tokens (#188)
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

update authed repo actions for latest #189 changes
  src/hubcast/web/gitlab/routes.py
Labels: none

Remove hardcoding in container tagging action
  .github/workflows/container.yml
Labels: ci

Remove hardcoding in container tagging action (#200)
  .github/workflows/container.yml
Labels: ci

Add option to control sync of draft PRs (#190)
  src/hubcast/clients/github/client.py
  src/hubcast/repos/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/github/utils.py
Labels: none

Support private source and destination repos (#189)
  src/hubcast/web/github/routes.py
Labels: none

GitLab OAuth Account Map: add initial implementation
  src/hubcast/__main__.py
  src/hubcast/account_map/gitlab_oauth.py
  src/hubcast/config.py
  src/hubcast/web/github/handler.py
Labels: none

Fully functional version of oauth account map after testing
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/account_map/gitlab_oauth.py
  src/hubcast/web/github/handler.py
Labels: none

fix: erroneous method call in sync_branch route
  src/hubcast/web/github/routes.py
Labels: none

Reorder repo config parsing logic
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/utils.py
Labels: none

LDAP account map (#159)
  pyproject.toml
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  src/hubcast/__main__.py
  src/hubcast/account_map/__init__.py
  src/hubcast/account_map/ldap.py
  src/hubcast/config.py
Labels: dependencies

fix: erroneous method call in sync_branch route (#210)
  src/hubcast/web/github/routes.py
Labels: none

Fix python-ldap compile error in container build
  Dockerfile
Labels: none

docs changes
  README.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/getting-started.md
  docs/guide-admin.md
  docs/guide-developer.md
  docs/guide-user.md
  docs/home.md
  docs/spack-develop.md
Labels: docs

rename docs/home.md to readme.md for better visibility in gh ui
  README.md
  docs/CONTRIBUTING.md
  docs/readme.md
Labels: docs

small cleanup of contributing docs
  docs/CONTRIBUTING.md
Labels: docs

README.md fixup
  README.md
Labels: docs

developer guide small update
  docs/guide-developer.md
Labels: docs

doc clarify
  docs/guide-admin.md
Labels: docs

doc clarify
  docs/guide-admin.md
Labels: docs

address review comments
  docs/guide-admin.md
Labels: docs

rm references to service account for now
  docs/guide-admin.md
Labels: docs

doc clarify
  docs/guide-admin.md
Labels: docs

architecture.md
  docs/ARCHITECTURE.md
  docs/readme.md
Labels: docs

add docs for ldap account mapper
  docs/guide-admin.md
Labels: docs

Fix python-ldap compile error in container build (#219)
  Dockerfile
Labels: none

remove configurability of "requesters"
  src/hubcast/config.py
Labels: none

move requester constant to gl/gh clients, drop the argument to the client factory, standardize usage of requester among gh/gl clients
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
Labels: none

make comment bot account optional
  src/hubcast/config.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

rewrite env_get to support optional values
  src/hubcast/config.py
Labels: none

flip order of conditional
  src/hubcast/web/github/routes.py
Labels: none

Fix GitLab token requests in GitHub route handlers
  src/hubcast/web/github/routes.py
Labels: none

add clarifications re: approval feature
  docs/guide-admin.md
  docs/guide-user.md
  docs/img/approve-comment.png
Labels: docs

Fix GitLab token requests in GitHub route handlers (#238)
  src/hubcast/web/github/routes.py
Labels: none

Set REQUESTER global in Hubcast __main__
  src/hubcast/__main__.py
  src/hubcast/config.py
Labels: none
