Repository LLNL/hubcast, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - pyproject.toml
    - spack/**

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md

I'd been wrong about the format before, this is the way
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  spack/repos/spack_repo/hubcast/repo.yaml
  spack/spack.yaml
Labels: dependencies

I'd been wrong about the format before, this is the way (#135)
  spack/repos/spack_repo/hubcast/packages/py_hubcast/package.py
  spack/repos/spack_repo/hubcast/repo.yaml
  spack/spack.yaml
Labels: dependencies

Add link to Gitlab pipeline URL to Github check status
  src/hubcast/clients/github/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Add link to Gitlab pipeline URL to Github check status (#136)
  src/hubcast/clients/github/client.py
  src/hubcast/web/gitlab/routes.py
Labels: none

add initial bot features
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

Fix spack develop install
  spack/spack.yaml
Labels: dependencies

Fix spack develop install (#138)
  spack/spack.yaml
Labels: dependencies

make bot caller configurable with HC_GH_BOT_USER
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/config.py
  src/hubcast/web/comments.py
  src/hubcast/web/github/routes.py
Labels: none

add support for re-running jobs through native GH check UI
  src/hubcast/clients/github/client.py
  src/hubcast/web/github/routes.py
Labels: none

add clickable link on check run summary
  src/hubcast/clients/github/client.py
Labels: none

Add logging configuration and more error handling
  logging_config.json
  src/hubcast/__main__.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/logging.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

modify entrypoint to allow arbitrary source git service
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/config.py
Labels: none

address copilot comments
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/gitlab/client.py
Labels: none

wip/stash (needs refactor and bugfixes)
  src/hubcast/__main__.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/__init__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/__init__.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/web/utils.py
Labels: none

implement set_check_status for gitlab
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

resolve some todos
  src/hubcast/__main__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

Fetch raw github repository config
  src/hubcast/clients/github/client.py
Labels: none

clarify comment
  src/hubcast/clients/github/client.py
Labels: none

optional json serialization is not needed
  src/hubcast/clients/github/client.py
Labels: none

Fetch raw github repository config (#156)
  src/hubcast/clients/github/client.py
Labels: none

Support Gitlab instances for source repositories
  src/hubcast/__main__.py
  src/hubcast/account_map/abc.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/gitlab/__init__.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/__init__.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
  src/hubcast/web/utils.py
Labels: none

small ordering change
  src/hubcast/clients/gitlab/client.py
Labels: none

address copilot comments
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/gitlab/client.py
Labels: none

Add logging configuration and more error handling
  logging_config.json
  src/hubcast/__main__.py
  src/hubcast/account_map/file.py
  src/hubcast/clients/github/auth.py
  src/hubcast/clients/github/client.py
  src/hubcast/clients/gitlab/client.py
  src/hubcast/config.py
  src/hubcast/logging.py
  src/hubcast/web/github/handler.py
  src/hubcast/web/github/routes.py
  src/hubcast/web/gitlab/handler.py
  src/hubcast/web/gitlab/routes.py
Labels: none

handle incorrectly formatted logging config
  src/hubcast/__main__.py
Labels: none

remove extraneous exception handler in github auth
  src/hubcast/clients/github/auth.py
Labels: none

log error message rather than exception for ConfigError in entrypoint
  src/hubcast/__main__.py
Labels: none

Update README.md for GitLab -> GitLab
  README.md
Labels: docs

spack: fix layout to be better compatible with v1.0
  .envrc
  spack.yaml
Labels: none

spack: fix layout to be better compatible with v1.0 (#161)
  .envrc
  spack.yaml
Labels: none

Static security CI check
  .github/workflows/ci.yml
  .github/workflows/requirements/security.txt
  .github/workflows/security.yml
  src/hubcast/clients/github/auth.py
Labels: ci, dependencies

Add permissions block for ci.yml
  .github/workflows/ci.yml
Labels: ci

Add permissions block to unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

Add permissions block to style.yml
  .github/workflows/style.yml
Labels: ci

Better formatting for GitHub Workflows
  .github/workflows/ci.yml
  .github/workflows/style.yml
  .github/workflows/unit-tests.yml
Labels: ci

Add permissions blocks to GitHub Workflows (#168)
  .github/workflows/ci.yml
  .github/workflows/style.yml
  .github/workflows/unit-tests.yml
Labels: ci

Address Alec's comments
  .github/workflows/requirements/security.txt
  .github/workflows/security.yml
  src/hubcast/clients/github/auth.py
Labels: ci, dependencies

add advanced CodeQL config to only scan PRs when certain paths are changed
  .github/workflows/codeql.yml
Labels: ci

add scoped permissions to security workflow and rm workflow_dispatch: trigger
  .github/workflows/security.yml
Labels: ci

consolidate codeql.yml into existing security workflow
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
Labels: ci
