Repository LLNL/hubcast, pull requests merged in 2023-12, with the labels that each got.

#3 Improving project metadata standards
  .env-dummy
  .github/workflows/ci.yml
  .github/workflows/style.yml
  .gitignore
  pyproject.toml
  requirements.txt
  spack.yaml
Labels: enhancement

#22 Limit Unit Tests to Only Run When Code is Changed
  .github/workflows/ci.yml
  .github/workflows/requirements/unit-tests.txt
  .github/workflows/unit-tests.yml
  hubcast/tests/__init__.py
  hubcast/tests/test_github_route.py
  pyproject.toml
  spack.yaml
Labels: ci

#21 Fix `flake8` Errors and Add CI Check
  .flake8
  .github/workflows/style.yml
  hubcast/__main__.py
  hubcast/auth/github.py
  hubcast/github.py
  hubcast/gitlab.py
  hubcast/routes/gitlab.py
Labels: ci

#26 Add NOTICE and COPYRIGHT files to repository
  COPYRIGHT
  NOTICE
Labels: style
